<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrowserStackLocal" version="1.2.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
  <package id="pNUnit" version="2.6.4" targetFramework="net20" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net35" />
</packages>